<html>
	<head>
		{% load bootstrap3 %}
		{% bootstrap_css%}
		{% bootstrap_javascript %}
		<title>{% block title %} {% endblock %}</title>
	</head>

	<body role='document'>
		{% include 'header.html' %}
         <div class="panel panel-default">
                <div class="panel-heading">
                    {% block headmessage %} {% endblock %}
                </div>
                <div class="panel-body">
                    {% block content %} {% endblock %}
                </div>
                <div class="panel-footer">
                    {% block footer %} {% endblock %}
                </div>
         </div>

	</body>
</html>