<html>
	<head>
		{% load bootstrap3 %}
		{% bootstrap_css%}
		{% bootstrap_javascript %}
		<title>{% block title %} {% endblock %}</title>
	</head>

<body class=" dashboard app-mn_system" data-admin-utc-offset="28800"
	<!-- Container -->
    <div id="container">
        {% include 'header1.html' %}

        <!--
            <div class="breadcrumbs">
            <a href="/admin/">首页</a>
            › <a href="/admin/mn_system/">Mn_System</a>
            › <a href="/admin/mn_system/interface_to_developer/">Inter face_to_ developers</a>
            › 登录接口 罗永胜231
            </div>
        -->
        {% block headmessage %} {% endblock %}
        {% block content %} {% endblock %}
        {% block footer %} {% endblock %}

        <div id="footer"></div>
    </div>
    <!-- END Container -->
</body>
</html>